.blog-card {
    margin-top: 2rem !important;
    width: 75% !important;
    margin: 7rem 170px 3rem 170px !important;
}
.blog-cardImage {
    max-height: 60vh !important;
    width: 100% !important;
}
.comment-fields {
    margin: 6rem 0 6rem 0;
}
.none {
    display: none;
}